Erick gonçalves melo reis 2D
body {
      color: white;
      background: black;
      margin: 0px;
      font-family: "Chakra Petch", sans-serif;
      margin-bottom: 100px;
  }
  
  header {
      border-bottom: solid 2px rgb(88, 163, 239);
      padding: 20px;
      font-size: 32px;
      color: rgb(7, 242, 191);
  }
  
  .chamada {
      background: rgb(9, 151, 253);
      padding-bottom: 80px;
      padding-top: 80px;
      display: flex;
      justify-content: center;
  }
  
  .chamada-texto {
      margin-right: 5%;
  }
  
  h1 {
      font-size: 40px;
  }
  
  p {
      font-size: 20px;
  }
  
  .categoria-videos {
      display: flex;
      overflow-x: auto;
      gap: 10px;
  }
  
  .categoria {
      padding-left: 30px;
      padding-right: 30px;
      margin-top: 60px;
  }
  
  .categoria-videos img {
      opacity: 0.5;
      height: 200px;
  }
  
  .categoria-videos img:hover {
      opacity: 1.0;
      border: 3px solid rgb(4, 102, 4);
  }
  
  .categoria h2 {
      color: rgb(18, 69, 65);
  }
